@-moz-document regexp("^https:\\/\\/hentai2read\\.com\\/.*\\/\\d+.*$") {
body {
    overflow: hidden;
}

#sidebar {
    display: none;
}

#js-reader {
    background: #232c32;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

#arf-reader {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto !important;
    z-index: 5;
}

.nav > li > .js-rdrPrev, .nav > li > .js-rdrNext {
    cursor: default;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
}

.nav > li > .js-rdrPrev {
    width: 50%;
    z-index: 8;
}

.nav > li > .js-rdrNext {
    width: 100%;
    z-index: 6;
}

.nav.nav-sm > li:last-of-type > a {
    display: none;
}

.nav.nav-sm > li:last-of-type {
    background-color: transparent;
    cursor: default;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    border-radius: 0;
    z-index: 9;
    opacity: 0;
    transition: all 200ms;
}

.nav.nav-sm > li:last-of-type:before {
    position: fixed;
    bottom: 0;
    left: 18px;
    content: 'Chapter';
    color: black;
    padding: 6px 8px;
}

.nav.nav-sm > li:last-of-type:after {
    position: fixed;
    bottom: 0;
    right: 10px;
    content: 'Jump to page';
    color: black;
    padding: 6px 8px;
}

.nav.nav-sm > li:last-of-type:hover, .dropup + li + .dropdown:hover ~ li:last-of-type, .nav-pills > li:first-child:hover ~ li:last-of-type, .nav.nav-sm > .dropup:hover ~ li:last-of-type {
    background-color: rgba(255, 255, 255, .4);
    opacity: 1;
}

.dropup:not(.pageDropdown) {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 12;
    transition: all 200ms;
}

.dropup.pageDropdown {
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 12;
    transition: all 200ms;
}

.nav-pills > li > a {
    border-radius: 0;
}

.dropup:hover {
    opacity: 1;
}

.nav-pills > li:first-child > a:after {
    opacity: 0;
    font-weight: bold;
    color: black;
    content: 'v';
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    z-index: 11;
}

.nav-pills > li:first-child > a:hover:after, .dropup + li + .dropdown:hover:after {
    opacity: 1;
}

.dropup + li + .dropdown:after {
    opacity: 0;
    font-weight: bold;
    color: black;
    content: 'v';
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 12px;
    bottom: 0;
    z-index: 10;
}
}