@-moz-document domain("discordapp.com") {
.theme-light .attachment-image a {
    color: #737f8d;
}

.theme-dark .attachment-image a {
    color: hsla(0,0%,100%,.7);
}

.attachment-image a {
    overflow: hidden;
}

/* Uncomment to ignore default filenames */
.attachment-image a/*:not([href$="/image.png"]):not([href$="/image.jpg"]):not([href$="/unknown.png"]):not([href$="/unknown.jpg"])*/:after {
    content: attr(href);
    font-family: monospace, monospace;
    font-size: 1em;
    margin-left: -77ch;
    display: block;
}
}