@-moz-document domain("discordapp.com") {
.attachment-image a {
    overflow: hidden;
}

.attachment-image a:after {
    content: attr(href);
    font-family: monospace, monospace;
    font-size: 1em;
    margin-left: -46.16em;
}
}