@-moz-document domain("discordapp.com") {
.avatar-large,
.avatar-profile,
.avatar-small,
.avatar-xlarge,
.avatar-xsmall,
.avatar-xxlarge,
.user-popout .avatar-wrapper .avatar-popout {
    -webkit-border-radius: 0%;
    border-radius: 0%;
}
.guilds-wrapper .guilds .guild .guild-inner {
    -webkit-border-radius: 0%;
    border-radius: 0%;
    overflow: visible;
    transition: all 1s linear;
}
.guilds-wrapper .guilds .guild .guild-inner:hover {
    border-radius: 0px;
}
.avatarDefault-3jtQoc,
.avatarSpeaking-3teDH6 {
    border-radius: 0px;
}
.mask
{
    visibility: hidden;
    -webkit-mask: "";
    mask: unset;
}
.mask-2vyqAW
{
    mask: unset;
}
.avatarWrapper-2Gfmp1
{
	border-radius: 0px;
}
.avatar-1BXaQj
{
	border-radius: 0px;
}
.image-EVRGPw
{
	border-radius: 0px;
}
.avatarStatus-1g8f0K
{
    opacity: 0;
}
.avatar-1BXaQj:hover .avatarStatus-1g8f0K
{
    opacity: 1;
}
.avatar-1BXaQj + div
{
    display: none;
}
}